[submodule "external/Xenia-WebServices"]
	path = external/Xenia-WebServices
	url = https://github.com/OpenCombas/Xenia-Webservices
	branch = main
[submodule "external/xenia-gns-relay"]
	path = external/xenia-gns-relay
	url = https://github.com/opencombas/xenia-gns-relay
