server {
    listen 80;
    server_name localhost;

    location / {
        # Route requests directly to the service name defined in docker-compose
        proxy_pass http://${WS_IP}:36000; 
        
        # Forward critical client connection details to the backend
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}